.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: turquoise;
    color: brown;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0%;
}
.navbar p{
    font-size: medium;
}
img{
    height: 500px;
    width: 1255px;
}
